 <div class="row">
    <div class="col">
      <hr style="border-color: #fff;">
    </div>
  </div>

  <div class="row">

    <div class="col">
      <a href="/provision_card" type="button" class="btn btn-outline-primary">CREATE X-Force Red Card</a>
    </div>

    <div class="col text-center">
      <a href="/wipe_card" type="submit" class="btn btn-outline-danger" formaction="/wipe_card">Wipe Card</a>
    </div>

    <div class="col text-right">
      <a href="/" type="submit" class="btn btn-outline-warning" formaction="/">RESET</a>
    </div>

    <div class="col text-center">
      <a href="/shutdown" type="submit" class="btn btn-outline-danger" formaction="/shutdown">Shutdown Pi</a>
    </div>

  </div>
</div>
