 <div class="row">
    <div class="col">
      <hr style="border-color: #fff;">
    </div>
  </div>

  <div class="row">

    <div class="col">
	    <a href="/provision_card">
		    <button type="button" class="btn btn-primary">{{ gettext('CREATE X-Force Red Card') }}</button>
	    </a>
    </div>

    <div class="col text-center">
	    <a href="/wipe_card"> 
		    <button type="submit" class="btn btn-danger" formaction="/wipe_card">{{ gettext('Wipe Card') }}</button>
	    </a>
    </div>

    <div class="col text-right">
	    <a href="/" >
		    <button type="submit" class="btn btn-warning" formaction="/">{{ gettext('RESET') }}</button>
	    </a>
    </div>

    <div class="col text-center">
	    <a href="/shutdown">
		    <button type="submit" class="btn btn-danger" formaction="/shutdown">{{ gettext('Shutdown Pi') }}</button>
	    </a>
    </div>

  </div>
</div>
