<!doctype html>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<title>Cards Captured</title>

{% include "header.html" %}

   </div>
     <div class="row">
       <div class="col text-white">
         <p>
           {% with messages = get_flashed_messages() %}
           {% if messages %}
           Status:
           {% for message in messages %}
             {{ message }}
           {% endfor %}
           {% endif %}
           {% endwith %}
           &nbsp;
         </p>
       </div>
     </div>
   </div>

   <div class="row text-white border no-gutters">
      <div class="col-3 border">
	      Action:
      </div>
      <div class="col-3 border">
	Facility Code:
      </div>
      <div class="col-3 border">
        Card Number:
      </div>
      <div class="col border">
        Raw HID Formated Card: 
      </div>
      <div class="col border">
        OEM Code:
      </div>
   </div>
{% for row in card %}
   <div class="row text-white border p-1 ">
	 <div class="col border border-danger">
		 <form action="/write" method="get">
			 <input type="hidden" name="raw_cardnumber" value={{ row['card_raw'] }} />
			 <button type="submit" class="btn btn-primary">Clone</button>
		 </form>
		 <form action="/hid/sim" method="get">
			 <input type="hidden" name="raw_cardnumber" value={{ row['card_raw'] }} />
			 <button type="submit" class="btn btn-success">Sim</button>
		 </form>
		 <form action="/card/{{ row['id'] }}" method="get">
			 <!-- <input type="hidden" name="card_id" value={{ row['id'] }} /> -->
			 <button type="submit" class="btn btn-outline-danger">Del</button>
		 </form>
	 </div>
	 <div class="col border border-success">
		 {{ row['card_facility_code'] }}
	 </div>
	 <div class="col border border-success">
		 {{ row['card_number'] }}
	 </div>
	 <div class="col border border-success">
		 {{ row['card_raw'] }}
	 </div>
	 <div class="col border border-success">
		 {{ row['card_oem'] }}
	 </div>
   </div>
{% endfor %}

{% include "buttons.html" %}
<!-- I am a code comment. I have a Key for you. 2005FFFFFF. -->
{% include "bootstrap.html" %}
</body>
